@import "./node_modules/bootstrap/scss/bootstrap.scss";


/* SASS Override */
$primary: #ea0101;
$secondary: #FF1919;
$card-height: 100%;


/* CSS Générale */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-fluid{
    max-height: 200px;
    align-content: center;
}

.footer-align{
    text-align: center;
    max-height: 400px;
    background-color: primary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;

}

.carousel-item{
    height: 40rem;
}

.texte-paragraphe{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-fluid{
    max-height: 500px;
}

.card-img-top{
    height: 500px;
}

/* ANIMATION CARTE FADING */

.card-animation{
    opacity: 0;
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.card-animation:nth-child(1)

.card-animation:nth-child(1) {animation-delay: 0.0s; }
.card-animation:nth-child(2) {animation-delay: 0.5s; }
.card-animation:nth-child(3) {animation-delay: 1.0s; }
.card-animation:nth-child(4) {animation-delay: 1.5s; }
.card-animation:nth-child(5) {animation-delay: 2.0s; }
.card-animation:nth-child(6) {animation-delay: 2.5s; }

@keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
      }
    }

/* CARTE HOVER  */    
.card:hover{
    background: $secondary;
    cursor: pointer;
}    

/* ANIMATION MENU HOVER */

.nav-item{
    background-color: var(--background-color);
    color: #222;
    position: relative;
    z-index: 1;
    
    --accent-color:#ff1919;
  }
  
  
  
  .nav-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
  }
  
  .nav-item:hover::before,
  .nav-item:focus::before {
    transform: scaleX(1);
  }
  